# Import Library

In [1]:
 import pandas as pd

# 1. CREATE- Add New Records

### Insert a new row (or record) into the dataset.

In [2]:
# Define the sales data
data = [
    {'ID': 1, 'Product': 'Laptop', 'Price': 1000, 'Quantity': 10, 'Date': '2024-01-01'},
    {'ID': 2, 'Product': 'Phone', 'Price': 500, 'Quantity': 20, 'Date': '2024-02-01'},
    {'ID': 3, 'Product': 'Tablet', 'Price': 300, 'Quantity': 15, 'Date': '2024-03-01'},
    {'ID': 4, 'Product': 'Monitor', 'Price': 200, 'Quantity': 8, 'Date': '2024-04-01'},
    {'ID': 5, 'Product': 'Keyboard', 'Price': 50, 'Quantity': 30, 'Date': '2024-05-01'}
]

In [3]:
# Create a pandas DataFrame from the data
df = pd.DataFrame(data)
df

   ID   Product  Price  Quantity        Date
0   1    Laptop   1000        10  2024-01-01
1   2     Phone    500        20  2024-02-01
2   3    Tablet    300        15  2024-03-01
3   4   Monitor    200         8  2024-04-01
4   5  Keyboard     50        30  2024-05-01

In [4]:
# Save the updated dataset back to the CSV file
df.to_csv('sales_data.csv', index=False)

print("Dataset after adding new record:")
print(df)

Dataset after adding new record:
   ID   Product  Price  Quantity        Date
0   1    Laptop   1000        10  2024-01-01
1   2     Phone    500        20  2024-02-01
2   3    Tablet    300        15  2024-03-01
3   4   Monitor    200         8  2024-04-01
4   5  Keyboard     50        30  2024-05-01

# 2. READ- Retrieve and display specific records

### Involves reading the dataset and showing specific information based on certain conditions.

In [5]:
# Load the dataset
df = pd.read_csv('sales_data.csv')

# Filter to display products with a price greater than 500
filtered_df = df[df['Price'] > 500] #shows how many numbers of product ware above 500

print("Products priced above $500:") 
print(filtered_df)

Products priced above $500:
   ID Product  Price  Quantity        Date
0   1  Laptop   1000        10  2024-01-01

# 3. UPDATE – Modify an Existing Record

### Suppose we want to change the price of the product with ID = 2 (Phone) from 500 to 550.

In [6]:
# Load the dataset
df = pd.read_csv('sales_data.csv')

# Locate the record with ID 2 and update the price
df.loc[df['ID'] == 2, 'Price'] = 550

# Save the updated dataset back to the CSV file
df.to_csv('sales_data.csv', index=False)

print("Dataset after updating the price of Phone:")
print(df)

Dataset after updating the price of Phone:
   ID   Product  Price  Quantity        Date
0   1    Laptop   1000        10  2024-01-01
1   2     Phone    550        20  2024-02-01
2   3    Tablet    300        15  2024-03-01
3   4   Monitor    200         8  2024-04-01
4   5  Keyboard     50        30  2024-05-01

#### You can see here phone price will be updated

# 4. DELETE – Remove Specific Records

### Let’s delete the record with ID = 3 (Tablet).

In [7]:
# Load the dataset
df = pd.read_csv('sales_data.csv')

# Delete the record with ID = 3
df = df[df['ID'] != 3]

# Save the updated dataset back to the CSV file
df.to_csv('sales_data.csv', index=False)

print("Dataset after deleting the record with ID = 3:")
print(df)

Dataset after deleting the record with ID = 3:
   ID   Product  Price  Quantity        Date
0   1    Laptop   1000        10  2024-01-01
1   2     Phone    550        20  2024-02-01
3   4   Monitor    200         8  2024-04-01
4   5  Keyboard     50        30  2024-05-01